html,
*,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(221, 221, 221, 0.561);
}

a:hover {
  color: orange;
}

/* CONTENEUR CAROUSEL */
.conteneur-carousel-1 {
  background-image: url("picture/maldives.jpg");
  height: 500px;
}

.conteneur-carousel-2 {
  background-image: url("picture/plage.jpg");
  height: 500px;
}

.conteneur-carousel-3 {
  background-image: url("picture/montain.jpg");
  height: 500px;
}

.conteneur-carousel-4 {
  background-image: url("picture/plage-2.jpg");
  height: 500px;
}

.calque {
  width: 35%;
  height: 100%;
  background: rgba(248, 238, 238, 0.876);
}

.separator {
  display: block;
  height: 1px;
  width: 70%;
  background-color: orange;
}

.carousel-indicators .active{
  background-color: #dc3546a6;
}


.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

 /* SVG */
 .svg {
  position: absolute;
  top: 400px;
  left: -200px;
  animation: 3s linear 0s forwards helloPlane;
}

/* ANIMATIONS */
@keyframes helloPlane {
  from {
    left: -200px;
  }
  to {
    left: 1000px;
    
  }
  end {
    opacity: 0;
  }
}